mixin companyPossibility(type, img, headline, texts = null, lists = null)
  div(class=`${type}`).company-possibility
    img(src=`../../images/company/${img}`).company-possibility__img
    .company-possibility-content
      h2.company-possibility__headline= headline
      if texts
        .company-possibility-texts
          each el in texts
            p.company-possibility-texts__text= el

      if lists
        .company-possibility-lists
          each el in lists
            p.company-possibility-lists__list= el
