mixin mediatecaPost(back, icon, headline, date, type, className)
  .mediateca-post(class=`${className}` style=`background-image: url('../../images/mediateca/${back}'); background-repeat: no-repeat;`)
    .mediateca-post__back
    .mediateca-post__icon(class=`${type}` style=`background-image: url('../../images/mediateca/${icon}'); background-repeat: no-repeat;`)
    .mediateca-post-text
      h3.mediateca-post-text__headline= headline
      p.mediateca-post-text__date= date
