mixin newsElem(href, headline, text, date, image)
  if image != null
    div(style=`background: url('../../images/${image}') center 100% no-repeat;`).news-elem
      a(href= href).news-elem__href Обзор
      h3.news-elem__headline= headline
      p.news-elem__text= text
      p.news-elem__date= date
  else
    .news-elem
      a(href= href).news-elem__href Обзор
      h3.news-elem__headline= headline
      p.news-elem__text= text
      p.news-elem__date= date

      //style=`background: url('../../images/${image}') no-repeat;`
