mixin teamElem(img, name, department, phone, email, text)
  .team-elem(style=`background-image: url('../../images/team/${img}'); background-repeat: no-repeat;)`)
    img(src='../../images/team/team-elem-back.png').team-elem__back
    .team-elem-wrap-text
      h3.team-elem-wrap-text__headline= name
      p.team-elem-wrap-text__department= department
      p.team-elem-wrap-text__phone= phone
      p.team-elem-wrap-text__email= email
      p.team-elem-wrap-text__text= text
